/* pyrotogepi.github.io
Author: Shavina Chau
https://coolors.co/5dfdcb-fcfcfc-f4e04d-4cd4e0-90d7ff
*/
body, html {
	height: 100%;
	margin: 0;
}

.header {
	background-color: #4cd4e0;
	padding: 20px 10px;
	margin: 0px 0px;
	display: flex;
	flex-direction: row;
}

.header_tab {
	flex-grow: 1;
	border-radius: 4px;
}

.container {
	display: flex;
	align-items: flex-start;
}

.container .left_column {
	flex: 33%;
	background-color: #fcfcfc;
}

.container .right_column {
	flex: 66%;
}

.personal_info_section {
	height: 100%;
	text-align: center;
	background-color: #f4e04d;
	padding: 1em;
	border-radius: 4px;
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.right_column > div {
	border-style: solid;
	border-color: #000000;
	border-radius: 4px;
	border-width: 2px;
	padding: 0.5em;
}

.education_section {
	text-align: center;
}

.work_experience_section {
	text-align: center;
}

.job_item {
	padding: 0em 1em;
	margin-bottom: 2em;
}

.job_title {
	background-color: #5dfdcb;
	padding: 1em 0em;
	font-size: 18px;
}

.job_date {
	margin-top: 0px;
	background-color: #f4e04d;
	font-size: 14px;
	padding: 0.5em;
}

div.job_description {
	border-style: none;
}